

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root{
  font-size: 16px;
}

.clear-fix{
  clear:both;
}

textarea{
  resize: none;
}


html, body{
  height: 100%;
  width: 100%;
  /*background-color: #e8e8e8;*/
}

/*Sauce Default*/
.the-sauce-con{
  transition: all .1s ease-in-out;
}

.sauce-content-con{
  width: 90%;
  padding: 40px 50px;
  background-color: #fff;
  margin-top: -80px;
  margin-bottom: 50px;
}

.sauce-label{
  font-weight: 300;
}

.sauce-input{
  border: none;
  border-radius: 0;
  background-color: #e4e4e4;
  border-bottom: solid 2px #9e9e9e;
  padding: 22px;
}

.sauce-submit{
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 25px;
  background-color: #a12d5f;
  font-weight: 700;
  float: right;
  transition: all .7s ease;
}
/*End of Sauce Default*/

/*Menu Css*/
#exit-menu{
  z-index: 20;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 32px;
}

#burger-con{
  position: fixed;
  z-index: 25;
  bottom: 0;
  right: 0;
}

.burger {
  padding: 5px;
  color: black;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  list-style-type: none;
}

.burger {
  position: absolute;
  z-index: 20;
  right: 15px;
  top: 14px;
  cursor: pointer;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty {
  width: 28px;
  height: 2px;
  margin: 0 0 4px 0;
  background: #777;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:last-child {
  margin-bottom: 0;
}
.burger--close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.burger--close .burger__patty:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4px, 4px);
          transform: rotate(45deg) translate(4px, 4px);
}
.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}
.burger--close .burger__patty:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -4px);
          transform: rotate(-45deg) translate(5px, -4px);
}




/*Sauce side left nav style*/
.sauce-left-side-nav{
  height: 100%;
  background-color: #e5e5e5;
  position: fixed;
  top: 0;
  left: -100px;
  z-index: 1;
  box-shadow: 2px 0 5px rgba(0,0,0,.05);
  transition: all .1s ease-in-out;
}

#show-sauce-left-side-nav{
  padding: 15px;
  font-size: 35px;
  color: #777;
  cursor: pointer;
}

#hide-sauce-left-side-nav{
  padding: 15px;
  font-size: 35px;
  color: #777;
  cursor: pointer;
  display: none;
}

.sauce-left-side-nav > ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
}

.sauce-left-side-nav > ul > li{
  border-bottom: 1px solid #c1c1c1;
}

.sauce-left-side-nav-active{
  background-color: #970844;
}

.sauce-left-side-nav > ul > li > a{
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
  /*padding: 0px 50px;*/
  /*padding: 30px 15px;*/
}

.sauce-left-side-nav > ul > li > a > i{
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #c1c1c1;
  font-weight: bold;
  font-size: 45px;
  /*font-size: 25px;*/
  transition: all .2s ease-in-out;
}

.sauce-left-side-nav > ul > li > a > span{
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #343637;
  font-weight: bold;
  font-size: 14px;
}
/*End of sauce side left nav style*/


.sauceink-status{
  max-width: 100%;
}


#discover-logo{
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-image: url('../img/discover.jpg');
}



#discover-logo > h1{
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 15;
}
.menu--active {
  visibility: visible;
}
.menu__brand, .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu__list {
  margin: 0;
  padding: 0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(left,rgb(65, 0, 0),rgb(165, 20, 82)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgb(65, 0, 0),rgb(165, 20, 82)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgb(65, 0, 0),rgb(165, 20, 82)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgb(65, 0, 0), rgb(165, 20, 82));
  list-style-type: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__list--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__brand {
  background: white;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.menu__brand--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__item {
  -webkit-transform: translate3d(500px, 0, 0);
          transform: translate3d(500px, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__link {
  display: inline-block;
  position: relative;
  font-size: 42px;
  padding: 15px 0;
  font-weight: 300;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 2px;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover:before {
  width: 100%;
}
.menu a.menu__link:hover {
  color: white !important;
  text-decoration: none !important;
  font-weight: bold !important;
}
.menu .menu__item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.menu .menu__item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.menu .menu__item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.menu .menu__item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.menu .menu__item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.menu .menu__item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

@media screen and (max-width: 768px) {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu__list--active,
  div.menu__brand--active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .menu__list {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__brand {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}
/*End of Menu CSS*/

.content-container{
  position: relative;
  margin-top: -30px;
  background-color: #e8e8e8;
  padding-top: 1px;
  height: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.clear-fix{
  clear: both;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-brand > img{
  max-width: 100%;
      max-height: 100%;
}





/*
DO NOT TOUCH
*/


.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}


/*for testing purpose only status*/
.panel p{
  word-break: break-all;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

/*end of for testing purpose only status*/


/*for testing purpose only, status form*/
.tabContent{
  padding: 15px;
}


.update-status{
  width: 90%;
  padding: 40px 50px;
  background-color: #fff;
  margin-top: -70px;
  margin-bottom: 50px;
}

.update-status .row{
  padding: 15px 0;
  background-color: #e4e4e4;
}

.update-status form > textarea{
  width: 100%;
  border: none;
  outline: none;
  background: none;
  border-bottom: solid 2px #9e9e9e;
}

.sauce-upload{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sauce-upload > li{
  display: inline;
  padding: 0 16px;
}

.sauce-upload li > i{
  font-size: 23px;
  color: #91003e;
}

.sauce-upload li > i:hover{
  text-decoration: underline;
  cursor: pointer;
}

.sauce-post-update{
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 25px;
  background-color: #a12d5f;
  font-weight: 700;
  float: right;
  transition: all .7s ease;
}

.sauce-post-update:hover{
  background-color: #BA4E7D;
}

#sauce-photo-upload-span{
  margin: 5px 0px;
  color: white;
  background-color: #5fb3c9;
  padding: 10px 20px;
  font-weight: bold;
}

#sauce-photo-upload{
  display: none;
}

#sauce-add-img-url{
  margin: 5px 0px;
  border-radius: 25px;
  font-weight: bold;
  color: white;
  background-color: #91003e;
  padding: 10px 15px;
}

#sauce-add-another-img-url{
  display: none;
  margin: 15px 0px;
  border-radius: 25px;
  font-weight: bold;
  color: white;
  background-color: #91003e;
  padding: 10px 15px;
}

#sauce-img-url-preview{
  display: none;
  margin: 15px 0px;
  border-radius: 25px;
  font-weight: bold;
  color: white;
  background-color: #91003e;
  padding: 10px 15px;
}


#sauce-add-img-url-input{
  display: none;
  width: 100%;
  margin: 25px 0px 15px 0px;
  border: none;
  outline: none;
  background: none;
  border-bottom: solid 2px #9e9e9e;
  padding: 10px 15px;
}

#sauce-add-photos{
  display: none;
  margin: 5px 0px;
  border-radius: 25px;
  font-weight: bold;
  color: white;
  background-color: #91003e;
  padding: 10px 15px;
}

.sauce-photos-preview > img{
  height: 120px;
  width: 160px;
  margin-top: 5px;
  margin-right: 5px;
}

.tab-cancel{
  margin: 5px 0px;
  border-radius: 25px;
  font-weight: bold;
  color: white;
  background-color: #91003e;
  padding: 8px 15px;
}
/*#sauce-upload-image{*/
/*}*/


/*#sauce-input-video{
  display: none;
  width: 100%;
}

#sauce-upload-video{
  display: none;
}*/

.tabContent {
    display:none;
}




/*
DO NOT TOUCH
*/



/*Sauceink Header*/
#sauceink-header{
  position: relative;
  margin-bottom: 30px;
  padding-top: 90px 0px;
  margin-top: -20px;
}

#sauceink-header > h1{
  background: -webkit-linear-gradient(left,rgba(65, 0, 0 ,.9),rgba(165, 20, 82, .9)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(65, 0, 0 ,.9),rgba(165, 20, 82, .9)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(65, 0, 0 ,.9),rgba(165, 20, 82, .9)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(65, 0, 0 ,.9), rgba(165, 20, 82, .9)); /*Standard*/
  color: white;
  font-weight: bold;
  font-size:4rem;
  padding: 90px 0px;
}

#sauceink-header > div{
  position: absolute;
  background-image: url('../img/login-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}




/*sauceink explore*/
.sauceink-explore{
  position: fixed;
  bottom: 200px;
  right: 0;
  color: white;
  font-size: 30px;
  background-color: #92283f;
  cursor: pointer;
  z-index: 31;
}

#sauceink-explore-header{
  text-align: center;
}

.sauceink-explore-content{
  display: none;
  background-color: #92283f;
  background-color: #fafafa;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 30;
  overflow-y: auto;
  padding: 100px;
  padding-top: 70px;
}

.sauceink-explore-content-flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-between;
}

.sauceink-explore-img{
  flex-grow: 1;
  width: 33%;
}

.sauceink-explore-vid{
  flex-grow: 1;
  width: 33%;
}

.sauceink-explore-img > div{
  height: 293px;
  width: 293px;
  background-color: black;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 100%;
  max-height: 100%;
}

.sauceink-explore-vid > div{
  height: 293px;
  width: 293px;
  background-color: black;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 100%;
  max-height: 100%;
}

.sauceink-explore-img img{
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.sauceink-explore-vid video{
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
/*end of sauceink explore*/



/*media query*/
@media only screen and (max-width: 1025px) {
  #show-sauce-left-side-nav{
    padding: 40px;
  }

  #hide-sauce-left-side-nav{
    padding: 40px;
  }
}


@media only screen and (max-width: 769px) {
  #show-sauce-left-side-nav{
    padding: 80px;
  }

  #hide-sauce-left-side-nav{
    padding: 80px;
  }

  #discover-logo{
    background: none;
  }

  .menu__brand{
    background-image: url('../img/discover.jpg');
  }
}
